<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xcu.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.xcu.domain.Product">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_number" jdbcType="INTEGER" property="productNumber" />
    <result column="product_price" jdbcType="REAL" property="productPrice" />
    <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
    <result column="product_status" jdbcType="INTEGER" property="productStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_name, category_id, product_number, product_price, product_detail, 
    product_status, create_time, creator, operate_time, operator, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_product
    <where>
      <if test="name!=null">
        product_name like concat('%',#{name},'%')
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xcu.domain.Product">
    insert into t_product (id, product_id, product_name, 
      category_id, product_number, product_price, 
      product_detail, product_status, create_time, 
      creator, operate_time, operator, 
      delete_flag)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{productNumber,jdbcType=INTEGER}, #{productPrice,jdbcType=REAL}, 
      #{productDetail,jdbcType=VARCHAR}, #{productStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xcu.domain.Product">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="productNumber != null">
        product_number,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productDetail != null">
        product_detail,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productNumber != null">
        #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=REAL},
      </if>
      <if test="productDetail != null">
        #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xcu.domain.Product">
    update t_product
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productNumber != null">
        product_number = #{productNumber,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=REAL},
      </if>
      <if test="productDetail != null">
        product_detail = #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xcu.domain.Product">
    update t_product
    set product_id = #{productId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      product_number = #{productNumber,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=REAL},
      product_detail = #{productDetail,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      operate_time = #{operateTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>